[submodule "references/pascal"]
	path = references/pascal
	url = https://github.com/tangentstorm/pascal.git
[submodule "references/flex"]
	path = references/flex
	url = https://github.com/westes/flex.git
[submodule "references/p2c"]
	path = references/p2c
	url = https://github.com/FranklinChen/p2c
[submodule "references/pcc-revived"]
	path = references/pcc-revived
	url = https://github.com/arnoldrobbins/pcc-revived
